<h1>TwitRadio !</h1>
<% unless @tracks.empty?  %>
	<% i = 1 %> 
	<% @tracks.each do |track| %>
		<div>  
		  <p>
			<img style="display: inline; margin-left: 0px; margin-right: 0px" align="left" src=<%= track.picture %> width="101" height="109" />
			<h2><b><%= i %> - <%= track.title %></b></h2>
		 	Tweeted By: <a href= '<%= track.tweeturl %>><%= track.tweetedby %></a><br/>
			<% i += 1 %> </p>
		</div>
	<% end %>
<% end %>

<br />

<%= link_to 'Next >>', root_path %><br />

